[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pydocstyle = "*"

[packages]
zipp = {editable = true, path = "/Users/adam2392/Documents/eztrack"}
mne-bids = {file = "https://api.github.com/repos/mne-tools/mne-bids/zipball/master"}
mne = {file = "https://api.github.com/repos/mne-tools/mne-python/zipball/master"}

[requires]
python_version = "3.8"
