[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pydocstyle = "*"
jupyter = "*"
jupyterlab = "*"
ipykernel = "*"
mne-bids = {file = "https://api.github.com/repos/mne-tools/mne-bids/zipball/master"}

[packages]
mne-bids = {file = "https://api.github.com/repos/mne-tools/mne-bids/zipball/master"}
mne = ">=0.21"
vtk = "*"
pyvista = "*"
pyqt5 = "*"
pydmd = "*"
tvb-library = "*"
mne-features = "*"
ipympl = "*"
dabest = "*"
graspologic = "*"
pingouin = "*"
jedi = "==0.17.2"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
